<%- include('partes/cabecera') %>

<div class="container mt-5">
    <h1 class="text-center mb-4">Crear Test</h1>

    <!-- Contenedor para notificaciones -->
    <div id="notificationContainer" class="alert d-none" role="alert"></div>

    <!-- Campo para el nombre del examen -->
    <div class="mb-4">
        <input id="nombreExamen" type="text" class="form-control" placeholder="Nombre del examen" required>
    </div>

    <!-- Select para categoría -->
    <div class="mb-4">
        <label for="id_categoria">Categoría:</label>
        <select id="id_categoria" class="form-select" required>
            <option value="">Selecciona una categoría</option>
            <% categorias.forEach(c => { %>
                <option value="<%= c.id %>"><%= c.nombre %></option>
            <% }) %>
        </select>
    </div>

    <!-- Campo para nueva categoría -->
    <div class="mb-4">
        <label for="nueva_categoria">Crear una nueva categoría:</label>
        <input id="nueva_categoria" type="text" class="form-control" placeholder="Nueva categoría (si aplica)">
    </div>

    <!-- Select para clase -->
    <div class="mb-4">
        <label for="id_clase">Clase:</label>
        <select id="id_clase" required>
            <option value="">Seleccione una clase</option>
            <% clases.forEach(cl => { %>
                <option value="<%= cl.id_clase %>"><%= cl.nombre %></option>
            <% }) %>
        </select>
    </div>

    <!-- Campo para fecha y hora disponible -->
    <div class="mb-4">
        <label for="fechaDisponible">Fecha y hora de disponibilidad del examen:</label>
        <input id="fechaDisponible" type="datetime-local" class="form-control" required>
    </div>

    <!-- Nuevo campo para fecha y hora fin -->
    <div class="mb-4">
        <label for="fechaFin">Fecha y hora de finalización del examen:</label>
        <input id="fechaFin" type="datetime-local" class="form-control" required>
    </div>

    <div class="text-center mb-4">
        <span id="questionCount">0</span><span>/20 preguntas</span>
    </div>
    <button id="newQuestionBtn" class="btn btn-primary mb-4">Añadir Pregunta</button>

    <form id="testForm">
        <div id="questionsContainer"></div>
        <button type="submit" class="btn btn-success mt-4">Enviar Test</button>
    </form>
</div>
<script src="/js/crearTest.js"></script>

<%- include('partes/footer') %>
