<%- include('partes/headera') %>
<div class="container mt-5">
    <div class="row">
        <!-- Tarjeta para modificar la foto de perfil -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <strong>Perfil de <%= usuario.nombre %></strong>
                </div>
                <div class="card-body text-center">
                    <div class="img-perfil rounded-circle mb-3">
                        <img src="/imagen/<%= usuario.id %>" alt="Foto de perfil"> 
                    </div>
                    <form action="/modifica_foto" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="image" class="form-label">Selecciona una nueva foto</label>
                            <input type="file" class="form-control" id="image" name="image" accept="image/*">
                        </div>
                        <button type="submit" class="btn btn-primary">Modificar foto</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Tarjeta para modificar el perfil -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <strong>Datos personales</strong>
                </div>
                <div class="card-body">
                    <form action="/modifica_perfil" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" value="<%= usuario.nombre %>" required>
                        </div>
                        <div class="mb-3">
                            <label for="apellido" class="form-label">Apellido:</label>
                            <input type="text" class="form-control" id="apellido" name="apellido" value="<%= usuario.apellido %>" required>
                        </div>
                        <div class="mb-3">
                            <label for="fecha_nacimiento" class="form-label">Fecha de Nacimiento:</label>
                            <input type="date" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento" value="<%= usuario.fecha_nacimiento.toISOString().slice(0,10) %>" required>
                        </div>
                        <div class="mb-3">
                            <label for="telefono" class="form-label">Teléfono:</label>
                            <input type="tel" class="form-control" id="telefono" name="telefono" value="<%= usuario.telefono %>">
                        </div>
                        <button type="submit" class="btn btn-primary">Actualizar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('partes/footer') %>